%p Title of Event
=@event.title
%p Description of Event
=@event.description
%p Date and Time of Event
=@event.date

=link_to "Back", root_path
=link_to "Edit", edit_event_path
=link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?"}

