=@event.title
%p=@event.date
%p=@event.description

-@tickets.each do |ticket|
	.box.panel.panel-default
		%h3= link_to [ticket.section, ticket.row, ticket.seats, ticket.price, ticket.user.email], ticket


=link_to "Back", root_path
=link_to "Edit", edit_event_path
=link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?"}

