#event_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading
				%h2=@event.title
				%p=@event.date
				%p=link_to @event.venue.name, venue_path(@event.venue_id)
				- if user_signed_in?
					%p= link_to "Post Tickets for this event", new_ticket_path(event_id: @event.id)
			.panel-body
				%p.description=@event.description
				%h3 Tickets Available for this Event
				%table.table.table-striped{:border => 1,"data-toggle" => "table"}
					%thead
						%tr
							%th Section
							%th Row
							%th Description/Seats
							%th{"data-sortable" => "true"} Price
					%tbody
						-@tickets.each do |ticket|
							%tr
								%td=ticket.section
								%td=ticket.row
								%td=ticket.seats
								%td=link_to ticket.price, ticket					
