%p Section
=@ticket.section
%p Row
=@ticket.row
%p Seats
=@ticket.seats
%p Price
=@ticket.price

%p Event
=@ticket.event.title
=@ticket.event.date


%p
Sumbitted by
= @ticket.user.email
%br/

=link_to "Back", root_path
=link_to "Edit", edit_ticket_path
=link_to "Delete", ticket_path, method: :delete, data: { confirm: "Are you sure?"}