#ticket_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading
				%h2 Section: #{@ticket.section}, Row: #{@ticket.row}, Seats: #{@ticket.seats}
				%p Price
				=@ticket.price
				%h3 Event
				=link_to @ticket.event.title, event_path(@ticket.event_id)
				%p=@ticket.event.date
			.panel-body
				%p.description
					Sumbitted by
					=link_to @ticket.user.email, user_path(@ticket.user.id)
					-if @ticket.user.trusted == true
						=image_tag("/images/trusted.png", alt:"Trusted Seller")
				

			- if current_user.id == @ticket.user.id
				.panel-footer
					=link_to "Back to Event", event_path(@ticket.event_id), class: "btn btn-default"
					=link_to "Edit", edit_ticket_path, class: "btn btn-default"
					=link_to "Delete", ticket_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"